<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - Gestion de réservation</title>

    <!-- Custom fonts for this template-->
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Theme/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="~/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Gestion de réservation</div>
                </a>

      
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider">
                    <!-- Nav Item Reservations -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReservations" aria-expanded="true" aria-controls="collapseReseravtions">
                            <i class="fa fa-building"></i>
                            <span>Reservations</span>
                        </a>
                    <div id="collapseReservations" class="collapse" aria-labelledby="heading Reservations" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                        <a asp-controller="Reservations" asp-action="Index" class="collapse-item">Gérer les réservations</a>
                            </div>
                        </div>
                    </li>
            <!-- Nav Item Rooms -->
                    <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRooms" aria-expanded="true" aria-controls="collapseRooms">
                            <i class="fas fa-calendar-check"></i>
                    <span>Chambre</span>
                        </a>
                <div id="collapseRooms" class="collapse" aria-labelledby="headingRooms" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                        <a asp-controller="Rooms" asp-action="Index" class="collapse-item">Gérer les chambres</a>
                            </div>
                        </div>
                    </li>
                    <!-- Nav Item Client -->
                    <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomers" aria-expanded="true" aria-controls="collapseCustomers">
                            <i class="fas fa-fw fa-users"></i>
                            <span>Client</span>
                        </a>
                <div id="collapseCustomers" class="collapse" aria-labelledby="headingCustomers" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                        <a asp-controller="Customers" asp-action="Index" class="collapse-item">Gérer les clients</a>
                            </div>
                        </div>
                    </li>
                    <!-- Nav Item Détails des Chambres -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDetailChambre" aria-expanded="true" aria-controls="collapseDetailChambre">
                            <i class="fas fa-fw fa-calendar-day"></i>
                            <span>Détails des chambres</span>
                        </a>
                        <div id="collapseDetailChambres" class="collapse" aria-labelledby="headingDetailConge" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="@Url.Action("AllLeave", "DetailsChambre")">Tous les chambres</a>
                                <a class="collapse-item" href="@Url.Action("LeavePending", "DetailsChambre")">Chambre libre</a>
                                <a class="collapse-item" href="@Url.Action("LeaveApproved", "DetailsChambre")">Chambre occupé</a>
                             
                            </div>
                        </div>
                    </li>
                    <!-- Nav Item Détails des Reservations -->
                    <li class="nav-item">
                         <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDetailReservations" aria-expanded="true" aria-controls="collapseDetailReservations">
                             <i class="fas fa-fw fa-calendar-day"></i>
                             <span>Détails des réservations</span>
                        </a>
                        <div id="collapseDetailReservations" class="collapse" aria-labelledby="headingDetailReservations" data-parent="#accordionSidebar">
                             <div class="bg-white py-2 collapse-inner rounded">
                                 <a class="collapse-item" href="@Url.Action("AllLeave", "DetailsReservations")">Tous les reservations</a>
                                 <a class="collapse-item" href="@Url.Action("LeavePending", "DetailsReservations")">Reservations en attente</a>
                                 <a class="collapse-item" href="@Url.Action("LeaveApproved", "DetailsReservations")">Reservations accepte</a>
 
                             </div>
                        </div>
                    </li>
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="fas fa-fw fa-home"></i>
                            <span>Accueil</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConge" aria-expanded="true" aria-controls="collapseConge">
                            <i class="fas fa-calendar-check"></i>
                            <span>Congés</span>
                        </a>
                        <div id="collapseConge" class="collapse" aria-labelledby="headingConge" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a asp-controller="Conges" asp-action="Index" class="collapse-item">Gérer mes congés</a>
                            </div>
                        </div>
                    </li>
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">
                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>
            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <!-- Nav Item Admin information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                    <img class="img-profile rounded-circle" src="~/Theme/img/undraw_profile.svg">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="EditProfile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Se déconnecter
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Content Row -->
                        @RenderBody()
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
                <!-- Footer -->
                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; 2024 - GestionConge
                    </div>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Prêt à quitter?
                        </h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Sélectionnez « Se déconnecter » ci-dessous si vous êtes prêt à mettre fin à votre session en cours.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <button class="btn btn-primary" type="button" onclick="document.getElementById('logoutForm').submit();">Se déconnecter</button>
                        <form id="logoutForm" action="~/Account/Logout" method="post" style="display:none;">
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- JavaScript files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Theme/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="~/Theme/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Theme/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Theme/js/demo/datatables-demo.js"></script>
</body>

</html>
